<DropdownList as |List|>
  <ul class='list-reset flex'>

    <List.item as |Item|><li class='w-64 p-4 {{if Item.isActive "bg-yellow"}}'>
        Item 1
      </li>
    </List.item>

    <List.item as |Item|>
      <li class='w-64 p-4 {{if Item.isActive "bg-yellow"}}'>
        Item 2
      </li>
    </List.item>
    <List.item as |Item|>
      <li class='w-64 p-4 {{if Item.isActive "bg-yellow"}}'>
        Item 3
      </li>
    </List.item>
  </ul>
</DropdownList>
